*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS Reset End */



.container {
  margin: 0 auto;
  padding: 0;
  width: 1440px;
}

.hamburgermenu-container {
  display: none;
}


body {
  background-color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


.header {
  display: flex;
  justify-content: center;
  width: 1440px;
  padding: 20px;
}


.nav {
  list-style: none;
  display: flex;
  gap: 50px;
  text-decoration: none;

}

.nav .contacts {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  color: black;

}


.nav a {

  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.nav a:hover {
  color: #fff;
  background-color: #DBC1D5;
  border-radius: 4px;
}

.contacts {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  color: #FFFFFF;
}

.hero {
  background-color: #DBC1D5;
  width: 1440px;
  display: flex;
  align-items: center;
  padding: 20px;
}



.herotext {
  text-align: center;
}

.herotext h3 {
  font-weight: bold;
  font-size: 52px;
  color: #FFFFFF;
  margin-bottom: 10px;
  line-height: 60px;
  letter-spacing: -0.01em;
  font-optical-sizing: auto;

}


.herotext p {
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 40px;
}


.hire {
  display: flex;
  align-items: center;
}

.hireme2 {
  border: 3px solid #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.hireme2:hover {
  background-color: #FFFFFF;
  color: #272D37;
  border: 3px solid #272D37;
}



.download {
  border: 1px solid transparent;
  color: white;
  font-size: 24px;
  padding-left: 10px;
}

.about {
  display: flex;
  text-align: center;
  background-color: #DDD8D8;
  justify-content: center;
  align-items: center;

}

.aboutimg {
  margin: 0 auto;
  width: 490px;
  padding-block: 100px;
}

.aboutphoto {
  position: relative;
  bottom: 280px;
  left: 50px;
  width: 50px;
  height: 50px;
  width: 100px;
}


.abouttext {
  background-color: #DBC1D5;
  display: flex;
  align-items: center;
  width: 600px;
  height: 791px;
}

.abouttext h2 {
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
}


.abouttext h4 {
  color: white;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  font-weight: bold;
}


.abouttext p {
  color: #4c566a;
  font-size: 14px;
  text-align: left;
  padding-left: 50px;
  font-weight: bold;
}


.about {
  text-align: center;
  background-color: #DDD8D8;
}

.skills {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #DDD8D8;
}



.skill.animated {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}


.skills h2 {
  color: white;
  font-size: 30px;
  width: 300px;
  margin-bottom: 10px;

}

.skills p {
  color: #000000;
  font-size: 15px;
  text-align: center;
  width: 250px;
}


.skills-item {
  display: flex;
  gap: 10px;
  padding-top: 100px;

}

.skills-item .skill1 {
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #DBC1D5;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.skills-item .skill2 {
  border: 1px solid white;
  border-radius: 12px;
  background-color: #DDD8D8;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.skills-item .skill3 {
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #DBC1D5;
  width: 350px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  background-color: #DDD8D8;
  text-align: center;
  justify-content: center;
}

.socialmedia-items {
  display: flex;
  gap: 150px;
  margin-bottom: 150px;
  padding-top: 100px;
}

.footer {
  width: 1440px;
  background-color: #DDD8D8;
  display: flex;
  justify-content: center;
  text-align: center;
}

.interested {
  background-color: #DBC1D5;
  border-radius: 18px;
  align-items: center;
  width: 900px;
  padding: 50px 50px;
  margin-bottom: 50px;

}

.interested h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;

}

.interested p {
  color: white;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.footersocialmedia {
  background-color: #DDD8D8;
  text-align: center;
  padding-bottom: 100px;
}

.socialmedia-footer-items {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 10px;
}

.footersocialmedia h2 {
  color: white;
  font-weight: bolder;
}

.footer p {
  color: #4c566a;
}

html {
  scroll-behavior: smooth;

}

/* Star Start */

button {
  position: relative;
  padding: 12px 35px;
  background: var(--color);
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid var(--color);
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s ease;
}

button:hover {
  background: transparent;
  color: var(--color);
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .stars {
  display: block;
  filter: drop-shadow(0 0 10px #fffdef);
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}

footer {
  background-color: #DBC1D5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 12px;
}

footer a {
  width: 10px;
}


/* Star End */



/* Cursor Start */

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  z-index: 4;
}

.cursor {
  background-color: var(--blue);
  height: 0;
  width: 0;
}

.cursor2,
.cursor3 {
  height: 50px;
  width: 50px;
  transition: all 200ms ease-out;
  background-position: center;
  background-size: 0 0;
}

.cursor2.hover,
.cursor3.hover {
  height: 220px;
  width: 320px;
  border: none;
  border-radius: 8px;
}

.cursor2 {
  border: 2px solid var(--blue);
  box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
}

.cursor2.hover {
  background-size: cover;
  box-shadow: 0 0 0 rgba(16, 39, 112, 0.2);
}

body.img-1-wrap .cursor2,
.cursor3 {
  background-image: url('https://assets.codepen.io/1462889/sl1.jpg');
}

body.img-2-wrap .cursor2,
.cursor3 {
  background-image: url('https://assets.codepen.io/1462889/sl2.jpg');
}

body.img-3-wrap .cursor2,
.cursor3 {
  background-image: url('https://assets.codepen.io/1462889/sl3.jpg');
}

body.img-4-wrap .cursor2,
.cursor3 {
  background-image: url('https://assets.codepen.io/1462889/sl4.jpg');
}

body.logo-wrap .cursor2,
.cursor3 {
  background-image: none;
  height: 36px;
  width: 36px;
}

body.logo-wrap .cursor2.hover,
body.logo-wrap .cursor3.hover {
  height: 36px;
  width: 36px;
  transform: scale(2) translateX(-25%) translateY(-25%);
  border-radius: 50%;
  background-color: var(--yellow);
}


.hover-target {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--purple);
  transition: color 250ms ease;
}

.hover-target:before {
  position: absolute;
  content: '';
  height: 0;
  border-radius: 1px;
  bottom: 0;
  left: -10px;
  width: calc(100% + 20px);
  display: block;
  background-color: var(--yellow);
  transition: height 250ms ease;
  mix-blend-mode: difference;
  opacity: 0.6;
}

.hover-target:hover:before {
  height: 100%;
}

.hover-target:hover {
  z-index: 5;
  color: var(--yellow);
}

.logo {
  position: fixed;
  top: 25px;
  left: 25px;
  display: block;
  z-index: 1000;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}

.logo:before {
  display: none;
}

/* Cursor End  */

@media (width < 376px) {



  .container {
    margin: 0 auto;
    padding: 0;
    width: 476px;
  }

  /* Hamburgermenu Start */


  .hamburgermenu-container {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;

  }

  .menu-icon {
    cursor: pointer;
    padding: 10px;
    background-color: #DBC1D5;
    color: black;

  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-links {
    display: none;
  }

  .menu-links.show {
    display: block;
  }

  .menu-links a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: #333;
  }

  .menu-links a:hover {
    background-color: #DBC1D5;
  }



  /* Hamburgermenu End */

  .header {
    display: none;
  }

  .hero {
    background-color: #DBC1D5;
    width: 375px;
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    margin-bottom: 12px;
  }



  .herotext {
    margin-bottom: 24px;
    text-align: center;
  }

  .herotext h3 {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-optical-sizing: auto;

  }


  .herotext p {
    color: #FFFFFF;
    font-size: 12px;

  }




  .hire {
    align-items: center;
  }

  .getjob {
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  .download {
    border: 1px solid transparent;
    color: white;
    font-size: 12px;
    padding-left: 10px;
  }

  .about {
    width: 375px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #DDD8D8;
    justify-content: center;
    align-items: center;

  }

  .aboutimg {
    display: none;
  }


  #photo1 {
    width: 30px;
    position: absolute;
    top: 170px;
    right: 50px;
  }



  .abouttext {
    text-align: center;
    background-color: #DBC1D5;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
  }

  .abouttext h2 {
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;

  }


  .abouttext h4 {
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
  }


  .abouttext p {
    color: #4c566a;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }


  .about {
    text-align: center;
    background-color: #DDD8D8;
  }

  #services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .skills {
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDD8D8;
  }

  .skills h2 {
    color: white;
    font-size: 20px;
    width: 300px;
    margin-bottom: 10px;

  }

  .skills p {
    color: #000000;
    font-size: 15px;
    text-align: center;
  }


  .skills-item {
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

  }

  .skills-item .skill1 {
    width: 200px;
    padding: 50px 50px;
    background-color: #DBC1D5;
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .skills-item .skill2 {
    border: 1px solid white;
    border-radius: 12px;
    padding: 50px 50px;
    background-color: #DDD8D8;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .skills-item .skill3 {
    width: 200px;
    height: 237px;
    padding: 50px 50px;
    background-color: #DBC1D5;
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .social {
    width: 375px;
    background-color: #DDD8D8;
    text-align: center;
    justify-content: center;
  }

  .socialmedia-items {
    width: 375px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 50px;

    margin-bottom: 50px;

  }

  .footer {
    width: 375px;
    background-color: #DDD8D8;
    justify-content: center;
    text-align: center;
  }

  .interested {
    width: 375px;
    background-color: #DBC1D5;
    border-radius: 18px;
    align-items: center;
    margin-bottom: 50px;

  }

  .interested h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;

  }

  .interested p {
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .footersocialmedia {
    width: 375px;
    background-color: #DDD8D8;
    text-align: center;
    padding-bottom: 50px;
  }

  .socialmedia-footer-items {
    width: 375px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
  }

  .footersocialmedia h2 {
    color: white;
    font-weight: bolder;
  }

  .footer p {
    color: #4c566a;
  }






}